<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Profit-e</title>

</head>

<body onload="carrega()">
    <nav id="navbar">
        <div class="navbar">
            <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
        </div>

        <div class="busca">
            <form action="" id="linha">
                <input type="text" name="serch" id="search" placeholder="O que você está procurando">
            </form>
            <img class="icobusca" src="{{ url_for('static', filename='img/busca.png') }}" alt="">
            <div class="linha">
                <hr class="hr2">
            </div>
        </div>
        <div class="campoconta">
            <div class="conta">
                <img class="imgconta" src="{{ url_for('static', filename='img/person.png') }}" alt="">
                <p>Minha Conta</p>
            </div>
            <div class="carrinho">
                <img src="{{ url_for('static', filename='img/carrinho.svg') }}">
                <img src="{{ url_for('static', filename='img/numero.svg') }}">
            </div>
            <div class="linhav"> </div>
            <div class="idiomas">
                <img src="{{ url_for('static', filename='img/brasil.png') }}">
                <img src="{{ url_for('static', filename='img/espanha.png') }}">
                <img src="{{ url_for('static', filename='img/reinounido.png') }}">
            </div>
        </div>
    </nav>
    <header id="slide">
        <div id="text">
            <div class="texto_banner">
                <h1>Nossa especialidade: experiencia em compra.</h1>
                <div class="linhabaner"></div>
            </div>
        </div>
        <div class="img_banner">
        </div>
    </header>
    <article id="conteudo">
        <div class=produtos>
            <div>
                <h2>Produtos</h2>
            </div>
            <div class="linhaprod"></div>
        </div>

        <div id="produtos"></div>

    </article>
    <footer id="rodape">
        <div class=localizacao>
            <div>
                <h1>Localização</h1>
                <div class="linhaloc"></div>
                <p>São Paulo</p>
                <p>Rua d o Rocio,423/1801</p>
                <p>Vila Olímpica - SP</p>
                <p>04552-000</p>
                <p>+55 11 3333 3333</p>
            </div>
            <div>
                <p>Rio de Janeiro</p>
                <p>Vol. da P[atrica, 301/702</p>
                <p>Botafogo - RJ</p>
                <p>22270-000</p>
                <p>+55 11 3333 3333</p>
            </div>
            <div id="botoes">
                <div id="contato">
                    <button class='btn_contet'>
                        <img src="{{ url_for('static', filename='img/email.png') }}" alt="" class="img_ft">
                        <p>ENTRE EM CONTATO</p>
                    </button>
                    <button class='btn_contet'>
                        <img class="imgf" src="{{ url_for('static', filename='img/telefone.png') }}" alt=""
                            class="img_ft">
                        <div class="textx">
                            <p>FALE COM O NOSSO CONSULTO ONLINE</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="img">
            <div class="img_powereby">
                <img src="{{url_for('static', filename='/img/powereby.png')}}" alt="parceria">
            </div>
        </div>
        </div>
    </footer>
</body>

<script>
    function carrega() {
        let xhr_produto = new XMLHttpRequest();
        xhr_produto.open("GET","/produtos");
        xhr_produto.send(null);
        xhr_produto.onreadystatechange = function () {
            if (xhr_produto.readyState == 4 && xhr_produto.status == 200) {
                document.getElementById("produtos").innerHTML = xhr_produto.response;
            }
        }
        return false;
    }
    function carrega2() {
        let xhr_produto = new XMLHttpRequest();
        xhr_produto.open("GET","/produtos2");
        xhr_produto.send(null);
        xhr_produto.onreadystatechange = function () {
            if (xhr_produto.readyState == 4 && xhr_produto.status == 200) {
                document.getElementById("produtos").innerHTML = xhr_produto.response;
            }
        }
        return false;
    }
</script>

</html>