body {
    margin: 0;
    display: grid;
    background-color: #FFFFFF;
    grid-template-rows: 1fr 1fr 3.8fr 0.2fr;
    grid-template-areas: 
        "navbar"
        "slide"
        "conteudo"
        "rodape";
  
  
}

#navbar{
    background-color: rgb(255, 255, 255);
}
#slide{
    background-color: blue;
}

#conteudo{
    background-color: brown;
}

#rodape{
    background-color: chartreuse;
}


.logo{
    width: 7vw;
}

nav, .navbar .busca .perfil{ 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;

}

form{
    border: none;
}

input {
 
    border: none;

}

.profile{
    display: flex;


}
.idiomas{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 12vh;
    padding-left: 8vw;
    
}